#about {
    background-color: $about-section-background;

    .about-section {
        padding: 6rem 0 6rem 0;

        .about-align {
            display: flex;

            .title-line {
                border-top: 1px solid $default-orange;
                border-width: 2px;
                width: 32px;
                position: relative;
                top: 11px;
                margin-right: 8px;
            }
    
            .about-title {
                color: $default-orange;
                font-weight: 700;
                font-size: 16px;
            }
        }

        .my-info {
            display: flex;

            .info {
                width: 50%;
    
                .about-me {
                    width: 80%;
                }
            }
        }  
        
        .title {
            color: $default-white;
            font-weight: 700;
            font-size: $default-font-size;
            width: 70%;
            margin-bottom: 1rem;
        }

        .about-me,
        .my-stacks {
            color: $default-gray;
            font-weight: 400;
            font-size: 16px;
        }

        .tech {
            .stacks {
                .slick-slider {
                    div {
                        width: 300px;
                        outline: none;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    #about {
        .about-section {
            width: calc(100% - 24px);
            padding: 3rem 0 3rem 0;

            .my-info {
                display: block;
    
                .info {
                    width: 100%;
        
                    .about-me {
                        width: 100%;
                        margin-bottom: 1.25rem;
                    }
                }
            }

            .title,
            .about-me {
                width: 100%;
            }

            .title {
                font-size: 20px;
            }
        }
    }
}