footer {
    height: 350px;
    background-color: $about-section-background;

    .footer-info {
        display: flex;
        justify-content: space-between;
        padding-top: 4rem;

        .contact-section {
            margin-bottom: 6rem;

            h1 {
                color: $default-white;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 1rem;
            }
    
            .action {
                display: flex;
                gap: 20px;

                .linkedin {
                    input {
                        background: #0274B3;
                        border: 1px solid #0274B3;
                        color: $default-white;

                        &:hover {
                            background: #0080c5;
                            border: 1px solid #0080c5;
                        }
                    }
                }

                .email {
                    input {
                        background: #F14336;
                        border: 1px solid #F14336;
                        color: $default-white;

                        &:hover {
                            background: #fa4c3f;
                            border: 1px solid #fa4c3f;
                            color: $default-white;
                        }
                    }
                }
            }
        }

        .logo {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 50px;
                background-color: $default-orange;
                transition: .3s;

                &:hover {
                    background-color: #ec9a00;
                }

                img {
                    height: 17px;
                    height: 17px;
                }
            }
        }
    }

    .codeby {
        text-align: center;

        p {
            color: $default-white;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        .footer-info {
            .contact-section {
                margin: 2rem 0 4rem 0;

                h1 {
                    font-size: 20px;
                }

                .action {
                    .linkedin,
                    .email {
                        input {
                            width: 135px;
                        }
                    }
                }
            }

            .logo {
                a {
                    position: relative;
                    bottom: 40px;
                    right: 40px;
                }
            }
        }
    }
}