header.container {
    display: flex;
    align-items: center;
    height: 120px;
    margin-bottom: 4rem;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;

        .left-content {
            display: flex;
            align-items: center;
        }

        .logo {
            a {
                text-decoration: none;
                font-size: 48px;
                font-weight: bold;
                margin-right: 50px;
                color: $default-orange;
            }
        }

        nav {
            ul {
                display: flex;
                gap: 40px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $default-white;
                        font-size: 22px;
                        font-weight: 400;
                        transition: .3s;

                        &:hover {
                            color: $default-orange;
                        }
                    }
                }
            }
        }

        .btn-download {
            input {
                &:hover {
                    background: $default-orange;
                    color: $default-white;
                }
            }
        }
    }
}